@import "themes/mocha.css";

* {
	font-family: JetBrains Mono Nerd Font;
	font-size: 14px;
	min-height: 0;
}

#waybar {
	background: transparent;
}
#waybar > box {
	margin: 10px 10px 8px 10px;
	border-radius: 10px;
}

tooltip {
	background-color: @base;
}
tooltip label {
	color: @text;
}

.modules-left,
.modules-center,
.modules-right {
	color: @text;
	border-radius: 10px;
	background-color: @mantle;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.8);
}
.modules-left {
	margin-right: 10px;
}
.modules-center {
	margin: 0 10px;
}
.modules-right {
	margin-left: 10px;
}

#workspaces {
	border-radius: 10px;
	background-color: @base;
	margin: 8px 10px;
}
#workspaces button {
	color: @overlay0;
	border-radius: 10px;
	padding: 6px;
}
#workspaces button.active {
	color: @teal;
}
#workspaces button:hover {
	color: @sky;
}

#taskbar {
	background-color: @base;
	margin: 8px 10px;
	border-radius: 10px;
}
#taskbar button {
	padding: 6px 10px;
	border-radius: 10px;
}

#idle_inhibitor,
#pulseaudio,
#backlight,
#battery,
#clock,
#language,
#tray,
#custom-power,
#custom-notification {
	background-color: @base;
	padding: 6px;
	margin: 8px 0;
}

#idle_inhibitor {
	color: @overlay0;
	padding: 6px 10px;
	margin: 8px 5px 8px 10px;
	border-radius: 10px;
}

#idle_inhibitor.activated {
	background-color: @teal;
	color: @base;
}

#pulseaudio.output {
	border-radius: 10px 0px 0px 10px;
	padding-left: 10px;
	margin-left: 5px;
}

#pulseaudio.output.muted {
	color: @overlay0;
}

#pulseaudio.input.source-muted {
	color: @overlay0;
}

#battery.charging {
	color: @text;
}

#battery.warning:not(.charging) {
	color: @red;
}

#backlight,
#battery {
	border-radius: 0;
}

#language {
	border-radius: 0px 10px 10px 0px;
	padding-right: 10px;
	margin-right: 5px;
}

#tray {
	padding: 6px 10px;
	margin: 8px 5px;
	border-radius: 10px;
}

#custom-notification {
	padding: 6px 10px;
	margin: 8px 5px;
	border-radius: 10px;
}
#custom-notification.dnd-notification,
#custom-notification.dnd-none,
#custom-notification.dnd-inhibited-notification,
#custom-notification.dnd-inhibited-none {
	color: @overlay0;
}

#custom-power {
	color: @teal;
	padding: 6px 10px;
	margin: 8px 10px 8px 5px;
	border-radius: 10px;
}
