[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/tarek/desktop/Yume Nikki.desktop]
row=4
col=10

[/home/tarek/desktop/HoloCure - Save the Fans!.desktop]
row=5
col=11

[/home/tarek/desktop/steam.desktop]
row=2
col=10

[/home/tarek/desktop/Steam Linux Runtime 3.0 (sniper).desktop]
row=1
col=10

[/home/tarek/desktop/Proton Experimental.desktop]
row=0
col=10

[/home/tarek/desktop/The Murder of Sonic the Hedgehog.desktop]
row=3
col=10

[/home/tarek/desktop/Half-Life.desktop]
row=4
col=11

[D47CBEC27CBE9F24]
row=3
col=11

[Trash]
row=2
col=11

[/]
row=0
col=11

[/home/tarek]
row=1
col=11

